.mainContainerMenu {
    width: 960px;
}
.ulMenu {
    display: flex;
    flex-direction: column;
    background-color: #e5d2c1;
}

.navItem {
    font-size: 15px;
    font-family: Droid Sans, serif;
    font-style: italic;
    text-decoration-color: #8597a3;
}
