.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

a{
  text-decoration: none;
  text-transform: capitalize;
}

body{
  background-color: #e5d2c1;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  -webkit-justify-content: center;
  font-weight: 600;
  text-decoration-color: #282c34;
  font-family: Droid Sans, serif;
}

hr{
  border: solid #404041;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

h1 {
  font-size: 20px ;
  letter-spacing: 5px;
  text-align: center;
  color: #585058;
  font-weight: 800;
}
h2 {
  font-size: 20px ;
  letter-spacing: 2px;
  font-weight: 600;
  color: #585058;
}

h3 {
  font-size: 18px ;
  color: #585058;
}

p{
  font-family: Droid Sans, serif;
  font-size: 18px ;
}


